@model WebAppChElementeMVC.Models.Element

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Element</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="GruppeId" class="control-label">Gruppe</label>
                <select asp-for="GruppeId" class="form-control" asp-items="ViewBag.GruppeId"></select>
                <span asp-validation-for="GruppeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PeriodeId" class="control-label">Periode</label>
                <select asp-for="PeriodeId" class="form-control" asp-items="ViewBag.PeriodeId"></select>
                <span asp-validation-for="PeriodeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZustandId" class="control-label">Aggregatzustand</label>
                <select asp-for="ZustandId" class="form-control" asp-items="ViewBag.ZustandId"></select>
                <span asp-validation-for="ZustandId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ordnungszahl" class="control-label"></label>
                <input asp-for="Ordnungszahl" class="form-control" />
                <span asp-validation-for="Ordnungszahl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Symbol" class="control-label"></label>
                <input asp-for="Symbol" class="form-control" />
                <span asp-validation-for="Symbol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
