/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/

/*.btn {
    margin-bottom: 0rem;
}

.blur.card, .blur.card-body {
    background-color: rgba(243, 239, 235, .9) !important;
}
*/

.bg-my-brown {
    background-color: #e1d5c9 !important;
}