@model WebAppChElementeMVC.Models.Periode

@{
    ViewData["Title"] = "Edit";
}
<div class="border-bottom border-btm1 mt-2 mx-n3 px-3">
  <h4>Edit Periode</h4>
</div>
<div class="row pt-3">
  <div class="col-md-6">
    <form asp-action="Edit">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <input type="hidden" asp-for="Id" />
      <div class="form-group mb-3">
        <div class="input-group input-group-static">
          <label asp-for="Nummer">Nummer</label>
          <input asp-for="Nummer" class="form-control pt-0" placeholder="0" type="number">
        </div>
        <span asp-validation-for="Nummer" class="text-primary text-xs"></span>
      </div>
      <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary me-2" />
        <a asp-action="Index" class="btn btn-secondary me-2">Back to List</a>
      </div>
    </form>
  </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}